# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Build Outputs
dist
out
build

# Debug
npm-debug.log*
bun-error.pid

# Misc
.DS_Store
*.pem

# Drizzle generated
drizzle/
